html, body {
    height: 100%;
    padding: 0;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    /*font-family: "Open Sans","Helvetica Neue",sans-serif !important;*/
}

.container {
    /*height: 100%;*/
    background: #FFFFFF;
}

.box,
.sample-layout > div {
    /*background-color: #FFFFFF;*/
    background-color: #cce4f7;
    /*text-align: left;*/
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
}

.box-stretched {
    height: 100%;
}

.sample-layout {
    margin: 0;
}

.sample-layout > div {
    border: 1px solid #ffffff;
}

.vertical-container {
    margin: 0;
    height: 200px;
    background: #efefef;
    border-radius: 4px;
}

.nested-grid .p-col-4 {
    padding-bottom: 1em;
}

/*
.ui-inputfield.someClass {
	font-size: 16px !important;
	font-family: Roboto !important;
	color: #260101;
	border: 1px solid #c4c0c0;
	height: 48px;
}

.ui-inputfield.ui-state-hover {
	border: 1px solid #260101 !important;
}

.ui-inputfield.ui-state-focus {
	border: 2px solid #260101 !important;
}
*/


/*
.borderless .ui-datatable thead th,
.borderless .ui-datatable tbody,
.borderless .ui-datatable tbody tr,
.borderless .ui-datatable tbody td {
    border: none !important;
    display: none !important;
}

.ui-datatable.borderless .ui-datatable-data tr,
.ui-datatable.borderless .ui-datatable-data-empty tr,
.ui-datatable.borderless .ui-datatable-data td,
.ui-datatable.borderless .ui-datatable-data-empty td
.ui-datatable.borderless .ui-datatable-data th {
    border-style: none;
    padding: 10;
}


.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}
*/

